.button {
  background-color: #01a0a5;
  color: white;
  font-size: 1.6rem;
  padding: 1.25rem;
  border: none;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  width: 100%;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  margin: 1rem 0;
}

.button:hover {
  transform: translateY(-0.5rem);
  -webkit-transform: translateY(-0.5rem);
  -moz-transform: translateY(-0.5rem);
  -ms-transform: translateY(-0.5rem);
  -o-transform: translateY(-0.5rem);
}

.button:active {
  transform: translateY(0.25rem);
  -webkit-transform: translateY(0.25rem);
  -moz-transform: translateY(0.25rem);
  -ms-transform: translateY(0.25rem);
  -o-transform: translateY(0.25rem);
}

.button:focus {
  background-color: #027386;
}
