.card {
  min-height: 12.5rem;
  width: 30rem;
  z-index: 9999;
  background-color: rgba(4, 209, 175, 0.4);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  box-shadow: rgba(3, 148, 124, 0.4) 2px 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  animation-name: initial-animation;
}

h1 {
  margin-top: 2rem;
}

.u-bottom {
  margin-bottom: 2rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 0 4rem;
}

.error-text {
  animation: redGlow 1.5s ease-in-out infinite alternate;
  -webkit-animation: redGlow 1.5s ease-in-out infinite alternate;
  margin-bottom: 2rem;
}

//// Keyframes
@keyframes initial-animation {
  from {
    opacity: 0;
    transform: translateY(20rem);
    transition: 0.75s all linear;
    -webkit-transition: 0.75s all linear;
    -moz-transition: 0.75s all linear;
    -ms-transition: 0.75s all linear;
    -o-transition: 0.75s all linear;
    -webkit-transform: translateY(20rem);
    -moz-transform: translateY(20rem);
    -ms-transform: translateY(20rem);
    -o-transform: translateY(20rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}

@keyframes redGlow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #bb0000,
      0 0 40px #bb0000, 0 0 50px #bb0000, 0 0 60px #bb0000, 0 0 70px #830000;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #6b0000, 0 0 40px #6b0000,
      0 0 50px #6b0000, 0 0 60px #6b0000, 0 0 70px #6b0000, 0 0 80px #008ba3;
  }
}
