.card {
  min-height: 15rem;
  width: 36rem;
  z-index: 9999;
  background-color: rgba(4, 209, 175, 0.4);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  box-shadow: rgba(3, 148, 124, 0.4) 2px 2px;

  animation-name: initial-animation;
  animation-duration: 1.75s;
}

h1 {
  margin-top: 2rem;
}

//// Keyframes
@keyframes initial-animation {
  from {
    opacity: 0;
    transition: 1.5s all linear;
    -webkit-transition: 1.5s all linear;
    -moz-transition: 1.5s all linear;
    -ms-transition: 1.5s all linear;
    -o-transition: 1.5s all linear;
  }
  to {
    opacity: 1;
  }
}
